<div class="back-garden-button"><%= link_to "⬅ back to dashboard", dashboard_path, id: "btn-back" %></div>
<h2 class="chat-title my-5">Chatroom: <%= @garden.name%><%= @chatroom.name %></h2>
<div class="card-chat">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% if @chatroom.messages.empty? %>
      <h2> You have no messages yet.</h2>
    <% else %>
      <% @chatroom.messages.each do |message| %>
        <div class="message-container <%= 'right' if message.user == current_user %>" id="message-<%= message.id %>">
          <i class="author">
            <span class="d-flex justify-content-start align-items-center mb-3 <%= 'right' if message.user == current_user %>">
              <span class="mr-2 <%= 'ml-2' if message.user == current_user %>" ><%= cl_image_tag message.user.avatar.key, gravity: :face, crop: :crop, radius: :max, :zoom=>"0.8", class: "avatar dropdown-toggle" %></span>
              <span class="d-flex justify-content-center flex-column">
                <span class="d-flex <%= 'justify-content-end' if message.user == current_user %> align-items-center">
                  <span class="pr-2"><strong><%= message.user.full_name %></strong></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </span>
                <p class="mb-0 text-dark <%= 'text-right w-100' if message.user == current_user %>"><%= message.content %></p>
              </span>
            </span>
          </i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="chat-input mt-5">
  <%= simple_form_for [ @chatroom, @message ] do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message here #{@chatroom.name}" %>
  <% end %>
</div>
