<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <div class="logo">
    <%= image_tag "Logo.png" %>
    <h4>Où Compost</h4>
  </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if policy(Garden).create? %>
              <%#= link_to 'Create my garden', new_garden_path, class: "btn btn-primary" %>
              <div class="btn btn-primary create-btn" data-toggle="modal" data-target="#newGardenModal">Create my garden</div>
          <% end %>
        </li>


      <!-- Button trigger modal -->
        <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button> %>
        <!-- Modal -->
        <div class="modal fade" id="newGardenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create your garden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <%= simple_form_for (Garden.new) do |f| %>
                    <%= f.input :name, label: "Your garden name", placeholder: "My beautiful garden" %>
                    <%= f.input :description, label: "Garden description", placeholder: "Growing season vegetables"%>
                    <%= f.input :address, label: "Garden address", hint: "Enter street and city" %>
                    <%= f.input :reward_score, label: "Reward score", hint: "Select number of points for user to gain an award" %>
                    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Add photos", hint: "You an add as many photos as you want. Select them all together" %>
                    <h2 id="h2-abyme">Add some products</h2>
                      <%= abymize(:products, f) do |abyme| %>
                        <%= abyme.records %>
                        <%= abyme.new_records %>
                        <%= add_association(content: "Add a product", html: { class: 'btn btn-info mb-3 prod-btn-text'}) %>
                      <% end %>
                </div>
              </div>
              <div class="modal-footer">
                   <%= f.submit "Submit your garden", class: "btn btn-primary", form: "new_garden"%>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
       <!-- End Modal -->
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.avatar.key, gravity: :face, crop: :crop, radius: :max, :zoom=>"0.8", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
