<div class="banner">
  <!-- style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'home-banner.jpg' %>');"> -->
  <div class="banner-content">
    <div class="title-box">
      <h1>Transformez vos biodéchets</h1>
    </div>
    <div class="tagline">
      <p>Soyez bon avec la planète, elle vous le rendra</p>
    </div>

    <div class="container bord-box">
      <%= render 'shared/search_bar_address_geocoded' %>
    </div>
      <%= link_to "Liste des jardins", gardens_path, class: "btn btn-info", id: "btn-index-home" %>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card-home position-relative">
        <div class="card-text">
          <h2>Pourquoi</h2>
          <span></span>
          <p> On aimerait tou.te.s réduire la quantité de nos déchets. Une possibilité serait de les recycler et de les trier. Il suffirait de mettre le plastique et les cartons dans la poubelle jaune, les verres et métaux dans la poubelle verte, et les bio-déchets dans le bac à compost. Mais où vont ces bacs à compost? Comment valoriser nos biodéchets sur nos territoires?</p>
        </div>
        <%= image_tag "tache-why.svg", class: "why-tache" %>
        <!-- style: "position: absolute;" -->
      </div>
    </div>
    <div class="col-4">
      <div class="card-home">
          <div class="card-text">
            <h2>Comment</h2>
            <p> Chez Le Koinpost nous pensons avoir trouvé la solution. En vous dirigeant vers une liste de potagers urbains où poussent des légumes, fruits, plantes, et/ou fleurs à proximité de votre adresse, vous aurez le choix de donner vos bio-déchets à un jardinier avec qui vous pourrez organiser une collecte. Celle-ci peut se faire soit en déposant vos déchets au potager.</p>
          </div>
          <%= image_tag "tache-how.svg", class: "how-tache" %>
        </div>
      </div>
    <div class="col-4">
      <div class="card-home">
        <div class="card-text">
          <h2>Récompense</h2>
          <p> Nous créons une situation où les potagers locaux ne dépendent plus de l'achat de compost industriel et où vous accumulez des points/jetons au jardin à qui vous donnez vos bio-déchets. Chaque jardin peut définir la quantité correspondante aux points et vous recevrez une récompense ! Elles peuvent être utilisées dans le réseau participant.</p>
        </div>
        <%= image_tag "tache-incentive.svg", class: "incentive-tache" %>
      </div>
    </div>
  </div>
</div>
