<h2>Garden details</h2>
        <ul>
          <li><strong>Garden host : </strong><%= @garden.user.name %> </li>
          <li><%= "Address: " %><%= @boxbike.address %></li>
          <li><%= "Description: " %><%= @boxbike.description %></li>
        </ul>

<%= link_to "Back to gardens", boxbikes_path %>
