<div class="container">
  <h2>Book an appointment</h2>
  <%= simple_form_for([@garden, @appointment] ) do |f| %>
  <%= f.input  :date, as: :string, required: false, input_html: {id: "appointment_date"} %>
  <%= f.label :quantity %>
  <%= f.select :quantity, ["1 kg", "2 kg", "3 kg", "4 kg", "5 kg", "6 kg", "7 kg", "8 kg", "9 kg", "10 kg"]  %><br>
  <%= f.label :description %>
  <%= f.select :description, ["Organic waste", "Compost"] %><br>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
