<h2>Book an appointment</h2>

<%= simple_form_for([@garden, @appointment] ) do |f| %>
  <%= f.input  :date, as: :string, required: false, input_html: {id: "appointment_date"} %>
  <%= f.input :quantity  %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
